<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Message from A2B Living</title>


    <style>
        /****** responsive ********/
        @media only screen and (max-width: 300px){
            body {
                width:218px !important;
                margin:auto !important;
            }
            .table {width:195px !important;margin:auto !important;}
            .logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto !important;display: block !important;}
            span.title{font-size:20px !important;line-height: 23px !important}
            span.subtitle{font-size: 14px !important;line-height: 18px !important;padding-top:10px !important;display:block !important;}
            td.box p{font-size: 12px !important;font-weight: bold !important;}
            .table-recap table, .table-recap thead, .table-recap tbody, .table-recap th, .table-recap td, .table-recap tr {
                display: block !important;
            }
            .table-recap{width: 200px!important;}
            .table-recap tr td, .conf_body td{text-align:center !important;}
            .address{display: block !important;margin-bottom: 10px !important;}
            .space_address{display: none !important;}
        }

        @media only screen and (min-width: 301px) and (max-width: 500px) {
            body {width:308px!important;margin:auto!important;}
            .table {width:285px!important;margin:auto!important;}
            .logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto!important;display: block!important;}
            .table-recap table, .table-recap thead, .table-recap tbody, .table-recap th, .table-recap td, .table-recap tr {
                display: block !important;
            }
            .table-recap{width: 293px !important;}
            .table-recap tr td, .conf_body td{text-align:center !important;}

        }

        @media only screen and (min-width: 501px) and (max-width: 768px) {
            body {width:478px!important;margin:auto!important;}
            .table {width:450px!important;margin:auto!important;}
            .logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto!important;display: block!important;}
        }


        /* Mobile */

        @media only screen and (max-device-width: 480px) {
            body {width:308px!important;margin:auto!important;}
            .table {width:285px;margin:auto!important;}
            .logo, .titleblock, .linkbelow, .box, .footer, .space_footer{width:auto!important;display: block!important;}

            .table-recap{width: 285px!important;}
            .table-recap tr td, .conf_body td{text-align:center!important;}
            .address{display: block !important;margin-bottom: 10px !important;}
            .space_address{display: none !important;}
        }
    </style>

</head>
<body style="background-color:#fff;width:650px;font-family:Open-sans, sans-serif;color:#555454;font-size:13px;line-height:18px;margin:auto">
<table class="table table-mail" style="width:100%;margin-top:10px;-moz-box-shadow:0 0 5px #afafaf;-webkit-box-shadow:0 0 5px #afafaf;-o-box-shadow:0 0 5px #afafaf;box-shadow:0 0 5px #afafaf;filter:progid:DXImageTransform.Microsoft.Shadow(color=#afafaf,Direction=134,Strength=5)">
    <tr>
        <td class="space" style="width:20px;border:none;padding:7px 0">&nbsp;</td>
        <td align="center" style="border:none;padding:7px 0">
            <table class="table" style="width:100%;background-color:#fff">
                <tr>
                    <td align="center" class="logo" style="border-bottom:4px solid #333!important;border:none;padding:7px 0">
                        <a title="A2B LIVING" href="https://www.a2bliving.ie/" style="color:#337ff1">
                            <img src="https://a2bliving.ie/img/a2b-living-logo-1488647975-2.jpg" alt="A2B LIVING" />
                        </a>
                    </td>
                </tr>

                <tr>
                    <td align="center" class="titleblock" style="border:none;padding:7px 0">
                        <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px">Congratulations!</span>
                    </td>
                </tr>
                <tr>
                    <td class="space_footer" style="padding:0!important;border:none">&nbsp;</td>
                </tr>
                <tr>
                    <td class="box" style="background-color:#fbfbfb;border:1px solid #d6d4d4!important;padding:10px!important">
		<span style="color:#777">
			Your referred friend <span style="color:#333"><strong>${newUser_firstname} ${newUser_lastname}</strong></span> has placed his or her first order on <a href="https://www.a2bliving.ie/" style="color:#337ff1">A2B Living</a>!<br /><br />
			We are pleased to offer you a <span style="color:#333"> 50% discount</span> on your next order! Simply insert voucher code: <strong>${voucher_code}</strong> before checkout.
        </span> <br /><br />
                        <p style="font-size:8px;">
                            *T&C's. Shop products (i.e drinks, biscuits etc, even if available in Chinese, Asian Street Food or Pizza menus) and delivery fee will not be discounted. <br />Customers can only use one offer per order.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="space_footer" style="padding:0!important;border:none">&nbsp;</td>
                </tr>
                <tr>
                    <td class="linkbelow" style="border:none;padding:7px 0">
                        <span>Best regards,</span>
                    </td>
                </tr>

                <tr>
                    <td class="space_footer" style="padding:0!important;border:none">&nbsp;</td>
                </tr>
                <tr>
                    <td class="footer" style="border-top:4px solid #333!important;border:none;padding:7px 0">
                        <span><a href="https://a2bliving.ie/" style="color:#337ff1">A2B Living</a> powered by <a href="https://a2bliving.ie/" style="color:#337ff1">A2B LIVING&trade;</a></span>
                    </td>
                </tr>
            </table>
        </td>
        <td class="space" style="width:20px;border:none;padding:7px 0">&nbsp;</td>
    </tr>
</table>
</body>
</html>